// Styling for the posts section
#posts {
  padding: 0;
  .container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .row {
    margin: 0;
    width: 100vw;
  }
  .post-icon {
    width: 40%;
  }
  #one-to-many {
    background-color: #2a5d78;
    padding: 5rem;
  }
  #one-to-one {
    background-color: $primary;
    padding: 5rem;
  }
}

.q-a {
	margin-bottom: 20px;
}

.question {
	font-weight: bold;
	font-size: 18px;
}
